<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Searching</title>
    <link th:href="@{/css/style.css}" type="text/css" rel="stylesheet">
</head>

<body>
<h1>Search tool</h1>
<nav>
    <a th:href="@{/}">Home Page</a>
</nav>

<form method="get" th:action="@{/searchname}" th:object="${student}">
    <div>
        <label for="name">Student's name :</label>
        <input type="text" th:name="name" id="name"/>
    </div>
    <button> Search </button>
    <footer><a th:href="@{/list}">Back to list</a></footer>
</body>


</html>