<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Details</title>
    <link th:href="@{/css/style.css}" type="text/css" rel="stylesheet">
</head>
<body>
<nav>
    <a th:href="@{/}">Home Page</a>
</nav>

<h1>Student's detail</h1>
<p>Name : <span th:text="${student.getName()}"></span></p>
<p>Surname : <span th:text="${student.getSurname()}"></span></p>
<p>Age : <span th:text="${student.getAge()}"></span></p>
<p>Email : <span th:text="${student.getEmail()}"></span></p>
<br>
<br>
<br>
<a th:href="@{/list}">Back to list</a>
</body>
</html>